@model Teatro.Models.Ticket

<form asp-action="Create">
    <div>
        <label for="Price">Цена</label>
        <input asp-for="Price" />
    </div>
    <button type="submit">Купи билет</button>
</form>
