<header>
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="@Url.Action("Index", "Plays")">All Plays</a></li>
            <li><a href="@Url.Action("Register", "Account")">Register</a></li>
            <li><a href="@Url.Action("Login", "Account")">Log In</a></li>
        </ul>
    </nav>
</header>
<body>
    <header>
        <!-- Your header content here -->
    </header>

    <main role="main" class="container">
        @RenderBody()  <!-- This will render the content of the individual view -->
    </main>
</body>

